<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Results</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body style="background-color: #16718D; padding-top: 50px;">
    <div class="jumbotron container col-sm-7">

        <h1>Here are the quotes!!!</h1>
        <% for (user of users) { %>
        <div class="form-group">
            <h2>"<%= user.quote %>"</h2>
            <h5> -<%= user.name %> at <%= user.updated_at %></h5>
        </div>
        <% } %>

        <a class="btn btn-info" style="margin-left: 75px;" href="/">Back to Home Page</a>
        </div>



    </div>

</body>

</html>